fastapi
uvicorn
python-multipart
pdfplumber
pymupdf
pdf2docx
docling
typing
pinecone
langchain
google-generativeai
psycopg2-binary
pypdf
langchain-text-splitters

langchain-core
sentence-transformers
python-dotenv
